<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">My user list</h1>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        {list}
        </tbody>
    </table>
</div>
<div>
    <a href="/add-User">  <button type="button" class="btn btn-secondary">ADD</button></a>
    <a href="/edit-User">  <button type="button" class="btn btn-secondary">EDIT</button></a>
    <a href="/delete-User">  <button type="button" class="btn btn-secondary">DELETE</button></a>
</div>
</body>
</html>