.body {
    text-align: center;
    margin-top: 20px;
}
.title{
    color: brown;
    width: 75%;
    background: honeydew;
    height: 60px;
    padding: 5px;
    margin-left: 185px;
}
.myCustomer{
    width: 75%;
    padding: 50px;
   margin-left: 180px;
}
button {
    color: gray;
    border-radius: 10px;
    background: white;
}